# Arquivos de byte compilado Python
__pycache__/
*.pyc

# Arquivos gerados pelo ambiente virtual
venv/
env/
*.env

# Arquivos de log e saída de teste
*.log
*.csv
*.xlsx

# Arquivos de dados
*.sqlite3
*.db

# Arquivos de configuração
*.ini
*.cfg

# Arquivos de cache e temporários
.cache/
.tmp/
.temp/
*.swp